.custom-background{
  background-color: #F5F5F5;
  padding:10px 0px;

}

.divider-line{
  background-color: #BBBBBB;
  height: 1px;
  width: 100%; 
}

.hero-circuits {
      display: flex;
      flex-direction: column;
      
      justify-content: space-between;
      padding: 4rem 0;
      min-height: 466px;
      background-color: $white;
      max-width: size(1170);
      margin: 0 auto;
      gap:0 12rem;
    }

    .hero-circuits--top{
      gap: 10rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      .hero-circuits--text {
        max-width: 570px;
        color:#101010;
      }

      .hero-circuits--text img {
        max-width: 190px;
      }

      .hero-circuits--text h1 {
        font-size: size(70);
        font-weight: 400;
        margin-bottom: 1.5rem;
        line-height: size(69);
        font-family: $font-title;
        text-transform: uppercase ;
      }

      .hero-circuits--text p {
        font-size: 18px;
        line-height: 25px;
      }

      .hero-circuits--text strong {
        font-weight: bold;
      }
    }

    .hero-circuits button{
        a{
          font-size: 14px;
          color:#FEFAF6;
          font-weight: 600;
        }

        margin-top: 17px;
        background-color: $banner;
        width:230px;
        height:38px;
        border-radius: 8px;
        border: none;
    }

    .hero-circuits--image {
      max-width: 100%;
    }

    .hero-circuits--image img {
      width:65%;
      padding-top: 3rem;
      height: auto;
    }

    /* Responsivo */
    @media (max-width: 1024px) {
      .hero-circuits {
        flex-direction: column;
        text-align: left;
        padding: 60px 16px;
        justify-content: space-around;
        align-items: center;
      }
      .hero-circuits--top{
        flex-direction: column;
        gap: 0;

        .hero-circuits--text {
          max-width: 100%;
          margin-bottom: 2rem;
          position: relative;
        }
        
        .hero-circuits--text button {
          padding-left: 50%;
          transform: translateY(550%);
      
        }
        

        .hero-circuits--text h1 {
          font-size: size(60);
          margin-bottom: 2rem;
          line-height: size(56);
          font-family: $font-title;
          text-transform: uppercase ;
        }

        .hero-circuits--image {
          max-width:100%;
          display: flex;
          justify-content: center;
        }

        .hero-circuits--image{
          
          

          img{
            max-width: size(208);
            width:100%;
            height: auto;
            padding-top: 0;
            margin-bottom: 2rem;
          
            
          }
        }

        .hero-circuits--text img {
          margin: 0 auto 1.5rem;
        }
    }
  }

