.main-footer {

    &__content {

        &--links {

            &-group {

                li:first-child {
                    
                    a {

                        color: $button;

                    }

                }

            }

        }

    }

    &__reg {

        background: $black;

        &-content{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }

    }

}